@if (stuff.name) {
    <div class='popup-name'>{{stuff.name | translate}}</div>
}

@if (stuff.description) {
    <div class='description'>{{stuff.description | translate}}</div>
}
<div class="inventory" [ngClass]="{'inventory-columns-6': isPopup}">
    @for (stuffItem of items; track stuffItem) {
        <div tooltip [component]="itemTooltipComponent" [componentData]="{item: stuffItem.item}" class="inventory-item {{this.game.gameStyle}} inventory-item-width-{{stuffItem.item.width}} inventory-item-height-{{stuffItem.item.height}}">
            <div class="item-additional-info">
                @if (stuffItem.count > 1) {
                    <div class="inventory-item-count">x{{stuffItem.count}}</div>
                }

                @if (asUpgradable(stuffItem.item)?.installedUpgrades?.length) {
                    <div class="inventory-item-upgrade"></div>
                }
            </div>
            <div class="inventory-item-image {{this.game.gameStyle}} inventory-item-x-{{stuffItem.item.gridX}} inventory-item-y-{{stuffItem.item.gridY}}">
                @if (asWeapon(stuffItem.item); as weapon) {
                    @if (weapon.hasScope && weapon.scopeX > -1000 && weapon.scopeY > -1000) {
                        <div class="wpn_addon scope" [style.left.px]="weapon.scopeX" [style.top.px]="weapon.scopeY"></div>
                    }

                    @if (weapon.hasSilencer && weapon.silencerX > -1000 && weapon.silencerY > -1000) {
                        <div class="wpn_addon silencer" [style.left.px]="weapon.silencerX" [style.top.px]="weapon.silencerY"></div>
                    }

                    @if (weapon.hasGrenadeLauncher && weapon.grenadeLauncherX > -1000 && weapon.grenadeLauncherY > -1000) {
                        <div class="wpn_addon grenade-launcher" [style.left.px]="weapon.grenadeLauncherX" [style.top.px]="weapon.grenadeLauncherY"></div>
                    }
                }
            </div>
        </div>
    }
</div>