<div tooltip [component]="itemTooltipComponent" [componentData]="{item: stuffItem.item}" class="inventory-item hoc"
    [style.--item-w]="stuffItem.item.width"
    [style.--item-h]="stuffItem.item.height"
    [style.--grid-x]="stuffItem.item.gridX"
    [style.--grid-y]="stuffItem.item.gridY">
    @if (stuffItem.count > 1) {
        <div class="inventory-item-count-hoc">{{stuffItem.count}}</div>
    }

    @if (asUpgradable(stuffItem.item)?.installedUpgrades?.length) {
        <div class="item-additional-info">
            <div class="inventory-item-upgrade"></div>
        </div>
    }

    <div class="inventory-item-image hoc"></div>
</div>