<div
  tooltip
  [component]="itemTooltipComponent"
  [componentData]="{ item: item }"
  class="inventory-item"
  [style.--item-w]="item.width"
  [style.--item-h]="item.height"
  [style.--grid-x]="item.gridX"
  [style.--grid-y]="item.gridY"
  (click)="onClick()">
  <div class="item-additional-info">
    <div class="inventory-item-count">
      @if (showBugIcon) {
        <span class="stalker-icon icon-bug"></span>
      }
      {{ displayPrice }}
    </div>
    @if (asUpgradable(item)?.installedUpgrades?.length) {
      <div class="inventory-item-upgrade"></div>
    }
  </div>
  <div class="inventory-item-image {{ gameStyle }}">
    @if (asWeapon(item); as weapon) {
      @if (weapon.hasScope && weapon.scopeX > -1000 && weapon.scopeY > -1000) {
        <div class="wpn_addon scope" [style.left.px]="weapon.scopeX" [style.top.px]="weapon.scopeY"></div>
      }
      @if (weapon.hasSilencer && weapon.silencerX > -1000 && weapon.silencerY > -1000) {
        <div class="wpn_addon silencer" [style.left.px]="weapon.silencerX" [style.top.px]="weapon.silencerY"></div>
      }
      @if (weapon.hasGrenadeLauncher && weapon.grenadeLauncherX > -1000 && weapon.grenadeLauncherY > -1000) {
        <div class="wpn_addon grenade-launcher" [style.left.px]="weapon.grenadeLauncherX" [style.top.px]="weapon.grenadeLauncherY"></div>
      }
    }
  </div>
</div>
