@if (config) {
    <div class="popup scrollbar">
        <div>{{config.name}}</div>
        @if (useListOfArtifacts) {
            <div class="artefacts inventory inventory-columns" [style.--inventory-columns]="7">
                @for (artefact of artefacts[0]; track artefact) {
                    <div tooltip [component]="itemTooltipComponent" [componentData]="{item: artefact.item}"
                        class="inventory-item"
                        [style.--item-w]="artefact.item.width"
                        [style.--item-h]="artefact.item.height"
                        [style.--grid-x]="artefact.item.gridX"
                        [style.--grid-y]="artefact.item.gridY">
                        <div class="inventory-item-image hoc">
                        </div>
                    </div>
                }
            </div>
        }
        @else {
            @for (artefactRate of artefacts; track artefactRate; let rate = $index) {
                <div>
                    <div class="difficultes">
                        @for (setting of config.settings; track setting) {
                            <div class="difficult">
                                <div class="name">{{setting.name}}:</div>
                                <div class="value">{{setting.rarityChance[rate]}}%</div>
                            </div>
                        }
                    </div>
                    <div class="artefacts inventory inventory-columns" [style.--inventory-columns]="7">
                        @for (artefact of artefactRate; track artefact) {
                            <div tooltip [component]="itemTooltipComponent" [componentData]="{item: artefact.item}"
                                class="inventory-item"
                                [style.--item-w]="artefact.item.width"
                                [style.--item-h]="artefact.item.height"
                                [style.--grid-x]="artefact.item.gridX"
                                [style.--grid-y]="artefact.item.gridY">
                                <div class="inventory-item-image hoc">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
}