.popup {
  color: white;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.difficultes {
  display: flex;
}

.difficult {
  display: flex;
  margin-right: 1rem;

  .name {
    margin-right: 0.25rem;
  }
}

