@if (isBottomSheet) {
    <div class="bottom-sheet-container">
        <div class="stalker-bio">
            <div class="stalker-name stalker-icon icon-{{stalker.profile.faction}}">{{ stalker.profile.name | translate}}</div>
            <div class="stalker-avatar {{game.gameStyle}}"
            [ngStyle]="{'width': stalker.profile.iconWidth + 'px', 'height': stalker.profile.iconHeight + 'px', 'background-position': 'left ' + (-stalker.profile.iconX) + 'px top ' + (-stalker.profile.iconY) + 'px'}">
        </div>
            <div class="stats">{{stalker.profile.rank}}, {{stalker.money}} RU</div>
        </div>
        @if (inventory && inventory.length > 0) {
            <div class="inventory-container">
                <ng-container *ngTemplateOutlet="inventoryContainer; context: {items: inventory, columns: 0}"></ng-container>
            </div>
        }
    </div>
}
@else {
    <div class="popup">
        <stalker-profile [profile]="stalker.profile" [game]="game.gameStyle" [money]="stalker.money" [rankSetting]="rankSetting"></stalker-profile>
        <div class="stalker-profile">
            <div>{{ stalker.profile.bio | translate}}</div>
        </div>
        @if (inventory && inventory.length > 0) {
            <ng-container *ngTemplateOutlet="inventoryContainer; context: {items: inventory, columns: 7}"></ng-container>
        }
    </div>
}

<ng-template #inventoryContainer let-items="items" let-columns="columns">
    <div class="inventory" [class.inventory-columns]="columns > 0" [style.--inventory-columns]="columns > 0 ? columns : null">
        @for (stuffItem of inventory; track stuffItem) {
            <div tooltip [component]="itemTooltipComponent" [componentData]="{item: stuffItem.item}" class="inventory-item"
                [style.--item-w]="stuffItem.item.width"
                [style.--item-h]="stuffItem.item.height"
                [style.--grid-x]="stuffItem.item.gridX"
                [style.--grid-y]="stuffItem.item.gridY">
                <div class="item-additional-info">
                    @if (stuffItem.count > 1) {
                        <div class="inventory-item-count">x{{stuffItem.count}}</div>
                    }

                    @if (asUpgradable(stuffItem.item)?.installedUpgrades?.length) {
                        <div class="inventory-item-upgrade"></div>
                    }
                </div>
                <div class="inventory-item-image {{this.game.gameStyle}}">
                    @if (asWeapon(stuffItem.item); as weapon) {
                        @if (weapon.hasScope && weapon.scopeX > -1000 && weapon.scopeY > -1000) {
                            <div class="wpn_addon scope" [style.left.px]="weapon.scopeX" [style.top.px]="weapon.scopeY"></div>
                        }

                        @if (weapon.hasSilencer && weapon.silencerX > -1000 && weapon.silencerY > -1000) {
                            <div class="wpn_addon silencer" [style.left.px]="weapon.silencerX" [style.top.px]="weapon.silencerY"></div>
                        }

                        @if (weapon.hasGrenadeLauncher && weapon.grenadeLauncherX > -1000 && weapon.grenadeLauncherY > -1000) {
                            <div class="wpn_addon grenade-launcher" [style.left.px]="weapon.grenadeLauncherX" [style.top.px]="weapon.grenadeLauncherY"></div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</ng-template>