<app-header></app-header>

@if (display) {
    <div class="content-container">
        @if (stuffs) {
            <div class="content category">
                @for (stuff of stuffs; track stuff; let i = $index) {
                    <div class="content-item stuff" id="stuff-{{i}}">
                        <div class="item-info-text">
                            <a class="item-title stalker-search-item {{stuffTypes[stuff.typeId]}}" href="{{stuff.link}}">
                                {{ stuff.name | translate}} ({{ stuff.locaton | translate}})
                            </a>
                            @if (stuff.description) {
                                <div class="item-desc">
                                    {{ stuff.description | translate}}
                                </div>
                            }
                        </div>
                        <div class="inventory-container">
                            <div class="inventory inventory-columns-6">
                                @for (stuffItem of stuff.items; track stuffItem) {
                                    <div tooltip [component]="itemTooltipComponent" [componentData]="{item: stuffItem.item}"
                                        class="inventory-item inventory-item-width-{{stuffItem.item.width}} inventory-item-height-{{stuffItem.item.height}}">
                                        <div class="item-additional-info">
                                            @if (stuffItem.count > 1) {
                                                <div class="inventory-item-count">x{{stuffItem.count}}</div>
                                            }

                                            @if (asUpgradable(stuffItem.item)?.installedUpgrades?.length) {
                                                <div class="inventory-item-upgrade"></div>
                                            }
                                        </div>
                                        <div class="inventory-item-image {{this.game.gameStyle}} inventory-item-x-{{stuffItem.item.gridX}} inventory-item-y-{{stuffItem.item.gridY}}">
                                            @if (asWeapon(stuffItem.item); as weapon) {
                                                @if (weapon.hasScope && weapon.scopeX > -1000 && weapon.scopeY > -1000) {
                                                    <div class="wpn_addon scope" [style.left.px]="weapon.scopeX" [style.top.px]="weapon.scopeY"></div>
                                                }

                                                @if (weapon.hasSilencer && weapon.silencerX > -1000 && weapon.silencerY > -1000) {
                                                    <div class="wpn_addon silencer" [style.left.px]="weapon.silencerX" [style.top.px]="weapon.silencerY"></div>
                                                }

                                                @if (weapon.hasGrenadeLauncher && weapon.grenadeLauncherX > -1000 && weapon.grenadeLauncherY > -1000) {
                                                    <div class="wpn_addon grenade-launcher" [style.left.px]="weapon.grenadeLauncherX" [style.top.px]="weapon.grenadeLauncherY"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="summary-price">
                            {{ 'nominal-price' | translate:{price: stuff.summaryPrice} }}
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}